{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<main class="wrapper-articles">
    <section class="topbar">
        <div class="search">

        </div>
        <div class="listedate">

        </div>
        <div class="action">

        </div>
    </section>
    
    <section class="main">
        <table>
            <thead>

            </thead>
            <tbody>

            </tbody>
        </table>
    </section>
</main>

{% endblock %}










