@use '../abstracts' as *;

:where(body) {
    background-color: $bg-clr-black;
}
:where(.page-base) {
    border-color: $border--black;

    :where(& > .container) {
        background-color: #D9D9D9;
    }
}


:where(.sidebar-top) {
    :where(.sidebar-logo) {
        background-color: $bg-clr-black-variant-1;
        color: $clr-titre;
    }
    :where(button) {
        background-color: #999999;
    }
}
:where(.navbar) {
    background-color: $bg-clr-black;
    color: $clr-text;

    :where(.navbar__content:hover) {
        :where(.navbar__item) {
            background-color: $bg-clr-black-variant-1;
            border-left: 5px solid $clr-titre;
        }
    }
    :where(.navbar-sub) {
        background-color: $bg-clr-black-variant-1;        
    }
}


:where(.main-content .container) {
    background-color: $bg-clr-white;
}





/* {% block body %}

<main class="wrapper-articles">
    <section class="topbar">
        <div class="search">

        </div>
        <div class="listedate">

        </div>
        <div class="action">

        </div>
    </section>
    
    <section class="main">
        <table>
            <thead>

            </thead>
            <tbody>

            </tbody>
        </table>
    </section>
</main>

{% endblock %} */