@use '../abstracts' as *;

body {
    background-color: $bg-clr-black;
}
.base {
    :where(.container) {
        background-color: $bg-clr-white;
    }
    :where(.sidebar) {

    }
    :where(.sidebar__top) {
        background-color: $bg-clr-100;
        :where(.logo) {
            
        }
    }
    :where(.sidebar__bottom) {
        background-color: $bg-clr-black;
        color: $clr-text;

        :where(div) {

        }
    }
}