<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <body>
        <section class="base">
            <div class="container">
            
                <div class="wrapper">

                    <div class="sidebar">
                        <div class="sidebar__top">
                            <div class="logo">
                                <img src="{{ asset('images/contenu/blog.jpeg') }}">
                            </div>
                        </div>
                        <div class="sidebar__bottom">
                            <div>
                                <h1>A</h1>
                            </div>
                        </div>
                    </div>

                    <div class="box">

                        <div class="box-top">

                        </div>

                        <div class="box-qst">
                            {% block header %}{% endblock %}
                        </div>

                        <div class="box-content">
                            {% block body %}{% endblock %}
                        </div>

                    </div>

                </div>

            </div>
        </section>
    </body>
</html>
