@use '../abstracts' as *;

.base {
    border: solid 10px $bg-clr-black;

    :where(.container) {
        border-radius: 10px;
    }
    :where(.wrapper) {
        display: flex;
    }
}
.sidebar.active {
    :where(.btn-extend) {
        transform: rotate(0.5turn);
        transition: transform .8s ease-in-out;
    }
    :where(.btn-extend > img) {

    }
    :where(p) {
        transform: translateX(0px);
        transition: transform .8s ease-in-out;
    }
}
:where(.sidebar) {
    transition: width .8s ease-in-out;
}
:where(.sidebar__top) {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    :where(.content) {
        display: flex;
        flex-flow: column;
        gap: 1rem;
    }
    :where(.btn-extend) {
        transform: rotate(1turn);
    }
    :where(img) {
        border-radius: 50%;
        cursor: pointer;
    }
    :where(.logo) {
        display: flex;
        place-items: center;
        gap: 2rem;
    }    
    :where(.logo > div) {
        z-index: 100;
    }
    :where(p) {
        font-size: 1.5rem;
        font-weight: bold;
        transform: translateX(-75px);
        z-index: 10;
        transition: transform .8s ease-in-out;
    }
}


:where(.sidebar__bottom) {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;

    :where(h1) {
        border-radius: 50%;
        border: solid 2px $clr-text;
        line-height: 1.5;
        cursor: pointer;
    }

}