@use '../abstracts' as *;

.base {
    border: solid 10px $bg-clr-black;

    :where(.wrapper) {
        display: flex;
    }
    .sidebar {

    }
    .sidebar__top {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        :where(.logo) {
            width: 40px;
        }
        :where(img) {
            border-radius: 50%;
        }
    }
    .sidebar__bottom {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        text-align: center;

        :where(h1) {
            border-radius: 50%;
            border: solid 2px $clr-text;
            line-height: 1.5;
        }
    }
    :where(.box) {
        border: solid rgb(0, 255, 64);
    }
}